*{
    margin: 0px;
    padding: 0px;
    color: white;
}

#navbar{
    height: 60px;
    background-color: black;
}

button{
    background-color: orange;
}

#logo{
    color: orange;
    font-size: 20px;
}

a{
    margin-right: 150px;
    text-decoration: none;
}

@media (min-width:200px) and (max-width:400px){
    #navbar {
    background-color: red;
}
}

div{
    display: flex;
    justify-items: center;
    justify-content: space-around;
}